.alert{
    margin-top: 20px;
    padding: 15px 20px 15px 14px;
    border-radius: 4px;
    @include flexbox();
    gap: 11px;
    &__title{
        font-weight: 600;
    }
    &__link{
        color: $text-blues;
        margin-bottom: 4px;
    }
    &__message{
        font-size: 12px;
    }
    &--none-message{
        align-items: center !important;
        padding: 10px 28px 10px 18px;
        gap: 8px;
    }
    &--error{
        background: rgba($color: $bgr-red-light, $alpha: 0.2);
    }
    &--border-warning{
        border: 1px solid $bgr-yellow;
        color:  $text-yellow;
       
    }
}