$bgr-blues: #5B86E5;
$bgr-yellow: #FF9600;
$bgr-white: #FFFFFF;
$bgr-white-medium: #F5F5F5;
$bgr-white-dark: #E5E8EF;
$bgr-white-1: #F7F8FA;
$bgr-red-light: #FF999F;
$text-black: #252627;
$text-black-light: #4F4F4F;
$text-green: #35B26F;
$text-yellow: #FF9600;
$text-white: #FFFFFF;
$text-gray: #828282;
$text-blues: #5B86E5;
$text-gray-light: #CECECE;


$width: 500px;