body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252627;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  max-width: 100%;
}

h4, h5 {
  font-weight: 600;
}

h4 {
  font-size: 24px;
}

#app {
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  padding: 33px 40px 27px 40px;
  background-color: #FFFFFF;
}

.close-tab {
  position: absolute;
  content: "";
  top: 11px;
  right: 13px;
  cursor: pointer;
}

.main {
  margin-top: 36px;
}

.Conversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  gap: 20px;
}

.Conversion__content {
  font-size: 12px;
  color: #828282;
}

.Conversion__title {
  margin-bottom: 3px;
}

.Conversion__link {
  color: #5B86E5;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-strong {
  font-weight: 700;
}

.pt-50px {
  padding-top: 50px;
}

.btn {
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 4px;
}

.btn--gray {
  background-color: #E5E8EF;
}

.btn--blues {
  color: #FFFFFF;
  background-color: #5B86E5;
  padding: 8px 133px;
}

.btn--none-border {
  color: #4F4F4F;
  background-color: #FFFFFF;
  padding: 12px 13px;
  font-weight: 400;
}

.btn--border-gray {
  border: 1px solid #E5E8EF;
  padding: 8px 26px;
}

.btn--border-yellow {
  border: 1px solid #FF9600;
  color: #FF9600;
  padding: 10px 28px;
}

.btn--green {
  color: #35B26F;
}

.btn--icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
}

.btn svg path {
  fill: currentColor;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
}

.form__input {
  width: 100%;
  border: 1px solid #E5E8EF;
  border-radius: 4px;
  padding: 12px 13px;
}

.form__input::-webkit-input-placeholder {
  color: #828282;
}

.form__input:-ms-input-placeholder {
  color: #828282;
}

.form__input::-ms-input-placeholder {
  color: #828282;
}

.form__input::placeholder {
  color: #828282;
}

.form__input:focus {
  outline: none;
}

.form__input--search-icon {
  padding: 8px 12px 8px 40px;
  background: transparent url("../images/search.svg") no-repeat 15px center;
}

.form__select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #E5E8EF;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/angle-down.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.form__select:focus {
  outline: none;
}

.form__textarea {
  width: 100%;
  border: 1px solid #E5E8EF;
  border-radius: 4px;
  padding: 8px 12px;
}

.form__textarea:focus {
  outline: none;
}

.form__group-radio {
  cursor: pointer;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #828282;
  border: 1px solid #E5E8EF;
  padding: 10px;
  border-radius: 4px;
}

.form__label-radio {
  cursor: pointer;
  margin-left: 11px;
  margin-bottom: 0;
}

.form__input-radio {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0;
}

.form__group-radio.active {
  color: #5B86E5;
  border-color: #5B86E5 !important;
}

.form__checkbox {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.form__checkbox:checked[type="checkbox"] {
  background: #d30000;
}

.form__checkbox::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form__checkbox:checked[type="checkbox"]::before {
  left: 19px;
}

.form__status-error {
  color: #d30000;
  margin-top: 10px;
  font-size: 12px;
}

.tabs {
  width: 100%;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tabs__content {
  margin-top: 20px;
}

.tabs__account {
  background-color: #F7F8FA;
  padding: 15px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.tabs__account-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.tabs__account-name {
  margin-bottom: 4px;
}

.tabs__list-btn {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.alert {
  margin-top: 20px;
  padding: 15px 20px 15px 14px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 11px;
}

.alert__title {
  font-weight: 600;
}

.alert__link {
  color: #5B86E5;
  margin-bottom: 4px;
}

.alert__message {
  font-size: 12px;
}

.alert--none-message {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 10px 28px 10px 18px;
  gap: 8px;
}

.alert--error {
  background: rgba(255, 153, 159, 0.2);
}

.alert--border-warning {
  border: 1px solid #FF9600;
  color: #FF9600;
}

.validate {
  margin-top: 10px;
  margin-left: 5px;
}

.validate__title {
  color: red;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */